<!DOCTYPE html>
<html lang="{{ .Lang }}">

  <head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ "css/style.css" | absURL }}" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ .Site.Data.sri.style}}" crossorigin="anonymous"{{ end }}>

    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ partial "head-custom.html" . }}
  </head>

  <body>

    {{ block "masthead" . }}
    <div class="blog-masthead">
        <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-primary">
            <div class="container">
              <a class="navbar-brand" href="{{ .Site.BaseURL | absLangURL }}">{{ .Site.Title | safeHTML }}</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item {{ if .IsHome }}active{{ end }}">
                    <a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}</a>
                  </li>
                  {{- $currentPage := . -}}
                  {{ range .Site.Menus.navbar }}
                    {{ $menuURL := .URL | absLangURL }}
                    <li class="nav-item"></li>
                      <a class="nav-link{{if or ($currentPage.IsMenuCurrent "navbar" .) ($currentPage.HasMenuCurrent "navbar" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    {{ end }}


    {{ block "body" . }}
    <div class="container">
      <div class="articles col-md-12">
        <div class="blog-main">

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}

      </div> {{ "<!-- /.articles -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}
    {{ end }}

    {{ block "footer" . }}
    <footer class="footer">
      <div class="container">
        <hr class="border-primary" />
        <p>
          {{ if .Site.Copyright }}
            {{ .Site.Copyright | markdownify }}
          {{ else }}
            Blog template created by <a href="https://twitter.com/mdo">@mdo</a>, ported to Hugo by <a href='https://twitter.com/mralanorth'>@mralanorth</a>.
          {{ end }}
        </p>
      </div>
    </footer>
    {{ end }}

  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
